#my-messagebox-bundle .site-base--left-banner{
    display: none;
}
#my-messagebox-bundle #site-header, #site-footer{
    display: none;
}
#my-messagebox-bundle #site-content{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#my-messagebox-bundle .Messagebox header{
    display: none;
}
#my-messagebox-bundle .ConversationListItem header{
    display: block;
}
#my-messagebox-bundle .Conversation--Grid header{
    display: flex;
}
#my-messagebox-bundle #my-msgbox-atf{
    display: none;
}
#my-messagebox-bundle .Messagebox--Grid--Row2{
    height: calc(100vh - 50px) !important;
}
#my-messagebox-bundle .Revision{
    display: none !important;
}
#my-messagebox-bundle #srp-btf-billboard{
    display: none !important;
}
#my-messagebox-bundle #consentBanner{
    display: none;
}
#my-messagebox-bundle #messageboxLogin-featurebox{
    display: none;
}

@media (prefers-color-scheme: dark) {
#my-messagebox-bundle .Conversation {
    border-top: 1px solid #222222 !important;
    background-color: #222222 !important;
}
#my-messagebox-bundle .ReplyBox{
    background-color: #393939 !important;
    border-top: 1px solid #565656 !important;
}
#my-messagebox-bundle .Messagebox {
    color: #ffffff !important;
}
#my-messagebox-bundle .MessageListItem-Date {
    color: #bfbfbf !important;
}
#my-messagebox-bundle .Message-inbound {
    background-color: #393939 !important;
    color: #ffffff !important;
}
#my-messagebox-bundle .Message-outbound {
    background-color: #00818a !important;
}
#my-messagebox-bundle .Button-secondary{
    color: #d6d6d6 !important;
    background-color: #393939 !important;
    border: 1px solid #505050 !important;
}
#my-messagebox-bundle .Button-inverted {
    color: #d6d6d6 !important;
    background-color: #393939 !important;
    border: 1px solid #505050 !important;
}
#my-messagebox-bundle .ConversationHeader {
    background-color: #393939 !important;
    border-bottom: 1px solid #565656 !important;
}
#my-messagebox-bundle .ConversationHeader--Body a{
    color: #ffffff !important;
}
#my-messagebox-bundle .Messagebox.jsx-1359264706 {
    color: #ffffff !important;
    background-color: #222222 !important;
    border: 1px solid #565656 !important;
}
#my-messagebox-bundle .BulkSelect {
    color: #d6d6d6 !important;
    background-color: #222222 !important;
    border: 1px solid #505050 !important;
}
#my-messagebox-bundle .ConversationListItem--Title {
    color: #ffffff !important;
}
#my-messagebox-bundle .ConversationListItem--Message {
    color: #e6e6e6 !important;
}
#my-messagebox-bundle .ConversationListItem {
    color: #bfbfbf !important;
    border-bottom: 1px solid #565656 !important;
}
#my-messagebox-bundle .ConversationListItem.is-highlighted {
    background-color: #393939 !important;
    border-left: 2px solid #00818a !important;
}
#my-messagebox-bundle .ConversationListItem:hover {
    background-color: #393939 !important;
}
#my-messagebox-bundle .ReplyBox textarea {
  background-color: #222222 !important;
  border: 1px solid #565656 !important;
    color: #ffffff !important;
}
#my-messagebox-bundle .Modal--Header h2 {
    color: #ffffff !important;
}
#my-messagebox-bundle .Modal--Body {
    border-top: 1px solid #565656 !important;
}
#my-messagebox-bundle .Modal--Body p{
    color: #ffffff !important;
}
#my-messagebox-bundle .ReplyAttachment {
    border: 1px solid #565656 !important;
}
#my-messagebox-bundle .ConversationList {
    border-right: none !important;
    border-top: 1px solid #565656 !important;
}
#my-messagebox-bundle .Modal--Content {
    background: #222222 !important;
    border-radius: 15px !important;
    border: none !important;
}
#my-messagebox-bundle .AdImage.is-inactive::after {
    background-color: rgba(21, 21, 21, 0.8) !important;
}
::-webkit-scrollbar-track
{
    background-color: #222222;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #222222;
}

::-webkit-scrollbar-thumb
{
    background-color: #80808080;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
}
::-webkit-scrollbar-track
{
    background-color: #e8e8e8;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #e8e8e8;
}

::-webkit-scrollbar-thumb
{
    background-color: #80808080;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.back-button{
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    padding: 6px 13px;
    outline: none;
    white-space: nowrap;
    border: none;
    background-color: #0064D2;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    min-height: 34px;
    line-height: 1.5em;
    font-size: 14px;
    margin: 0 10px 10px 0;
}